{% include 'teams/base_bootstrap.html' %} {% block content %}
<link
	href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
	rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap"
	rel="stylesheet"
/>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
	@import url("http://fonts.cdnfonts.com/css/audiowide");
	@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
	@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

	input[type="submit"] {
		background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(#000000),
			to(#262626)
		);
		background: -webkit-linear-gradient(bottom, #000000, #262626);
		background: -moz-linear-gradient(bottom, #000000, #262626);
		background: -o-linear-gradient(bottom, #000000, #262626);
		background: linear-gradient(0deg, #000000, #262626);
		backdrop-filter: blur(10px);
		padding: 25px 105px;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		box-shadow: 0 0 1rem 0 rgba(250, 247, 247, 0.4);
	}

	input[type="text"],
	select,
	textarea {
		width: 200px;
		padding: 7px;
		border: 2px solid #fff;
		border-radius: 10px;
		box-sizing: border-box;
		resize: vertical;
		color: #fff;
		background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(#000000),
			to(#262626)
		);
		background: -webkit-linear-gradient(bottom, #000000, #262626);
		background: -moz-linear-gradient(bottom, #000000, #262626);
		background: -o-linear-gradient(bottom, #000000, #262626);
		background: linear-gradient(0deg, #000000, #262626);
		backdrop-filter: blur(10px);
	}
	.card {
		max-height: max-content;
		padding: 2px;
		border-top: 2px solid #00c0c7;
		border-bottom: 3px solid #ff009d;
		border-radius: 10px;
		background-image: linear-gradient(#00c0c7, #ff009d),
			linear-gradient(#00c0c7, #ff009d);
		background-size: 2px 100%;
		background-position: 0 0, 100% 0;
		background-repeat: no-repeat;
		margin: 2em;
	}
	{% comment %} .card-container {
		margin: 5px;
		height: 60vh;
		overflow-y: scroll;
	} {% endcomment %}
	.card-text {
		color: #fff;
		font-family: "Audiowide", sans-serif;
		font-size: 25px;
	}

	@media (max-width: 625px) {
		.card-text {
			font-size: 18px;
		}
		.imgg {
			height: 40vh;
			width: 40vh;
		}
	}
	
	.modal-body{
		font-size:18px;
		{% comment %} font-family: 'Orbitron', sans-serif; {% endcomment %}
		font-family: "Audiowide", sans-serif;
		color:white;

	}
	.modal-content{
		background: rgba(2, 2, 3, 0.9); padding: 30px 30px;
	}
	.modal-footer button{
		background-color:#5bc0de;
		font-family: 'Orbitron', sans-serif;
	}
	.modal-header h5{
		font-family: "Audiowide", sans-serif;
		font-size:28px;
		color:white;
		

	}
	.modal-header{
		padding: 0px;
	}
	.card-header button{
		font-family: "Audiowide", sans-serif;
		font-size:16px;
		color:#000;

	}
</style>

<div
	class="card text-center"
	style="background: rgba(1, 2, 3, 0.6); padding: 20px 20px"
>
	{% if question.modal %}
	<div class="card-header">
		<!-- Button trigger modal -->
		<button
			type="button"
			class="btn btn-info"
			data-toggle="modal"
			data-target="#exampleModalLong"
			style="margin-top: 10px"
		>
			Hints
		</button>
		<br />
		<br />

		<!-- Modal -->
		<div
			class="modal fade"
			id="exampleModalLong"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLongTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Hints</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
						<span aria-hidden="true" style="color:white ;">&times;</span>
						</button>
					</div>
					<div class="modal-body">{{ question.modal | safe }}</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="card-body" style="color: #fff">
		<!-- <h5 class="card-title" style="color: #fff;">Special title treatment</h5> -->
		<div class="card-container">
			<p class="card-text" style="color: #fff">{{ question.question|safe }}</p>
			<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

			<!-- <div class="card-footer text-muted" style="color: #fff;">
    2 days ago
  </div> -->
			<form
				action=""
				class="form"
				method="post"
				id="upload_form"
				enctype="multipart/form-data"
			>
				{% csrf_token %}
				<table style="color: white; margin: auto; padding: 10px">
					{{ answer.as_table }}
					<br />
				</table>
				<br />
				<input
					type="submit"
					value="Submit"
					style="
						color: #fff;
						padding: 5px;
						height: 40px;
						width: 100px;
						border: 2px solid #fff;
					"
				/>
			</form>
			{% if wrong == 1 %}
			<h4 style="color: red"><strong>Wrong Answer</strong></h4>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
